{%extends 'base.html'%}
{%block conteudo%}
<body>
    <header class="header">
            <a href="/"><img src="./static/imgs/download.jpg" class="imgh1"></a>
            <div class="btnheader">
                <a href="/cart">
                    <img src="./static/imgs/bolsa-de-compras.png" class="imgh2">
                </a>
                <a href="/login">
                    <img src="../static/imgs/avatarlogin.png" class="imgh3">
                </a>
            </div>
    </header>
    <!-- <main class="productslines">
        <div class="products1">
            <div class="camisa1">
                <img src="../static/imgs/antycamisapreta.webp" width="50%" height="50%" class="lineimg">
                <a href="/starblack" class="alink">   
                    <span>Camiseta Star Black - R$189,90</span>
                </a>
                <button class="botao" onclick="addToCart('Camiseta Star Black', 189,90)">Adicionar ao Carrinho</button>
            </div>
            <div class="camisa1">
                <img src="../static/imgs/antycamisabranca.webp" width="52%" height="52%" class="lineimg">
                <a href="/starwhite" class="alink">
                    <span>Camiseta Star White - R$189,90</span>
                </a>
                <button class="botao" onclick="addToCart('Camiseta Star White', 189,90)">Adicionar ao Carrinho</button>
            </div>
        </div>
        <div class="products2">
            <div class="moletom1">
                <img src="../static/imgs/moletompretoanty.webp" width="50%" height="50%" class="lineimg">
                <a href="/moletompreto" class="alink">
                    <span>Moletom Hyth Black - R$329,90</span>
                </a>
                <button class="botao" onclick="addToCart('Moletom Hyth Black', 329,90)">Adicionar ao Carrinho</button>
            </div>
            <div class="moletom1">
                <img src="../static/imgs/moletombrancoanty.webp" width="50%" height="50%" class="lineimg">
                <a href="/moletombranco" class="alink">
                    <span>Moletom Hyth White - R$329,90</span>
                </a>
                <button class="botao" onclick="addToCart('Moletom Hyth White', 329,90)">Adicionar ao Carrinho</button>
            </div>
        </div> -->
        <div class="container">
            <h2 class="mt-4 mb-4 text-center">- Products -</h2>
            <div class="row">
              <!-- Card 1 -->
              <div class="col-md-6 mb-4">
                <div class="card">
                  <img src="../static/imgs/antycamisapreta.webp" class="card-img-top" alt="Imagem 1" onclick="redirect('/starblack')">
                  <div class="card-body text-center">
                    <h5 class="card-title">Camiseta Star Black - R$189,90</h5>
                    <button class="botao" onclick="addToCart('Camiseta Star Black', 189,90)">Adicionar ao Carrinho</button>
                  </div>
                </div>
              </div>
              <!-- Card 2 -->
              <div class="col-md-6 mb-4">
                <div class="card">
                  <img src="../static/imgs/antycamisabranca.webp" class="card-img-top" alt="Imagem 2" onclick="redirect('/starwhite')">
                  <div class="card-body text-center">
                    <h5 class="card-title">Camiseta Star White - R$189,90</h5>
                    <button class="botao" onclick="addToCart('Camiseta Star White', 189,90)">Adicionar ao Carrinho</button>
                  </div>
                </div>
              </div>
              <!-- Card 3 -->
              <div class="col-md-6 mb-4">
                <div class="card">
                  <img src="../static/imgs/moletompretoanty.webp" class="card-img-top" alt="Imagem 3" onclick="redirect('/moletompreto')">
                  <div class="card-body text-center">
                    <h5 class="card-title">Moletom Hyth Black - R$329,90</h5>
                    <button class="botao" onclick="addToCart('Moletom Hyth Black', 329,90)">Adicionar ao Carrinho</button>
                  </div>
                </div>
              </div>
              <!-- Card 4 -->
              <div class="col-md-6 mb-4">
                <div class="card">
                  <img src="../static/imgs/moletombrancoanty.webp" class="card-img-top" alt="Imagem 4" onclick="redirect('/moletombranco')">
                  <div class="card-body text-center">
                    <h5 class="card-title">Moletom Hyth Black - R$329,90</h5>
                    <button class="botao" onclick="addToCart('Moletom Hyth White', 329,90)">Adicionar ao Carrinho</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </main>
    <footer class="footer">
        <h4 class="footerh">2024 - Todos Direitos Reservados - AntyBrand</h4>
        <a href="./quemsomos" class="qmsomos">Quem Somos</a>
    </footer>
    <script>
        function addToCart(product, price) {
            let cart = JSON.parse(localStorage.getItem('cart')) || [];
            cart.push({ product, price });
            localStorage.setItem('cart', JSON.stringify(cart));
        };
        function redirect(url){
            window.location.href=url;
        }
    </script>
</body>
{%endblock conteudo%}