{%extends 'base.html'%}
{%block conteudo%}
<body>
  <style>
    /* Estilos personalizados */
    body {
      margin: 0;
      padding: 0;
    }
    header, footer {
      background-color: black;
      color: white;
      padding: 10px 0;  
      text-align: center;
    }
    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .logo {
      max-width: 150px;
    }
    main {
      padding: 20px;
      text-align: center;
    }
    footer {
      margin-top: 225px;  
    }
  </style>

  <header>
    <div class="container header-content">
      <img src="../static/imgs/download.jpg" alt="Logo da Empresa" class="logo" width="50%" height="50%">
      <div>
        <a href="/" class="btn btn-primary mr-2">Home</a>
        <a href="/login" class="btn btn-secondary">Login</a>
      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <h1>Quem Somos</h1>
      <p class="qmsomos">Para começar, isso que você está lendo é um sonho! (Quebrando a quarta parede haha). <br>
        Todas as coisas que vemos e sentimos, primeiro saem da nossa mente, com a Anty foi justamente a mesma coisa! <br>
        Quando paramos para pensar: Onde estamos, quem somos e o que podemos fazer para melhorar o mundo? Percebe que algumas coisas estão no automático? <br>
        Por exemplo: O simples ato de se vestir para poder viver o dia! <br>
        Tem algumas coisas na vida que só se realizam quando colocamos esforços em cima, primeiramente nós aqui da AntyBrand <br>  nos preocupamos MUITO com o meio ambiente, nossas estampas idealizam o conceito da marca com mensagens positivas e estampas com algum apelo sobre a Natureza. <br>
        A Relva é uma construção de mensagens, vontades e ações, sobre se sentir bem e confortável na própria pele. <br>
        As roupas são desenhadas para ter conforto, maciez e alta qualidade. <br>
        Estar pronto para tudo e bem vestido para qualquer que seja o rolê. <br>
        Somos a missão de devolver estilo e conforto para pessoas que estão no automático <br>
        se olharem mais no espelho e se sentirem melhores sendo quem são. </p>
    </div>
  </main>

  <footer>
    <div class="container">
      &copy; 2024 AntyBrand. Todos os direitos reservados.
    </div>
  </footer>

  <!-- Bootstrap JS (opcional) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{%endblock conteudo%}
