{%extends 'base.html'%}
{%block conteudo%}
<body>
    <header class="header">
        <a href="/"><img src="./static/imgs/download.jpg" class="imgh1"></a>
        <div class="btnheader">
            <a href="/cart">
                <img src="./static/imgs/bolsa-de-compras.png" class="imgh2">
            </a>
            <a href="/login">
                <img src="../static/imgs/avatarlogin.png" class="imgh3">
            </a>
        </div>
    </header>
    <main>
        <section class="pgsprod">
            <div class="pgsprodimgs">
                <img src="../static/imgs/antycamisabranca.webp" width="40%" id="img1">
                <img src="../static/imgs/antycamisabrancacostas.webp" width="40%">
            </div>
            <div class="pgsprodtxts">
                <h3>Camiseta Star White</h3>
                <p>R$189,90</p>
                <button class="botao" onclick="addToCart('Camiseta Star White', 189,90)">Adicionar ao Carrinho</button>
            </div>
        </section>
        <script>
            function addToCart(product, price) {
                let cart = JSON.parse(localStorage.getItem('cart')) || [];
                cart.push({ product, price });
                localStorage.setItem('cart', JSON.stringify(cart));
            }
        </script>
    </main>
    <footer class="footer">
        <h4 class="footerh">2024 - Todos Direitos Reservados - AntyBrand</h4>
        <a href="./quemsomos" class="qmsomos">Quem Somos</a>
    </footer>
</body>
{%endblock conteudo%}